@using gitzip.api;
@using gitzip.util;
@using gitzip.api.repo.util;

@model gitzip.Models.api.DownloadModel
@{
    ViewBag.Title = "GitZip: instantly download your favorite source code";
    Layout = "~/Views/Shared/_GitzipLayout.cshtml";
}

<div class="wrapper">
    <div id="error-box" class="alert alert-block">  
  <a class="close" data-dismiss="alert">×</a>  
  <h4 class="alert-heading">Warning!</h4>  
 <span class="error-text" />
</div>

    <div class="comingsoonBlk">
        <h1>Download Code</h1>
        <p>We are pleased to anounced that our website is launching very soon.<br>
                                                                              We are working very hard to get ready it.
        </p>
        <div class="socialMedia">
            <a href="#" data-placement="top" data-original-title="@RepositoryType.GOOGLECODE_SVN.Value">
                <img style="width:32px" src="~/Content/images/google-code.png" alt="Google Code" title="Google Code">
            </a>
            <a href="#" data-placement="top" data-original-title="@RepositoryType.GITHUB.Value">
                <img style="width:32px" src="~/Content/images/github.png" alt="Github" title="Github">
            </a>
            <a href="#" data-placement="top" data-original-title="@RepositoryType.CODEPLEX_SVN.Value">
                <img style="width:32px" src="~/Content/images/codeplex.png" alt="Codeplex" title="Codeplex">
            </a>
        </div>
        
        <section class="form">
            <form id="submitForm" action="/api/Download/" method="POST" class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Zip a repository</legend>

                    <!-- Button Drop Down -->
                    <div class="control-group">
                        <label class="control-label" for="@Html.IdFor(m=>m.Url)">URL</label>
                        <div class="controls">
                            <input id="@Html.IdFor(m=>m.Url)" class="input-xlarge" 
                                   placeholder="enter the online repository URL" type="text" required=""/>
                        </div>
                    </div>

                    <!-- Select Repo -->
                    <div class="control-group">
                        <label class="control-label" for="@Html.IdFor(m=>m.RepositoryType)">Online Location</label>
                        <div class="controls">
                            <select id="@Html.IdFor(m=>m.RepositoryType)" class="input-large" required="Help us locate your code by selecting the location.">
                                <option value="@RepositoryType.GOOGLECODE_SVN.Value">@RepositoryType.GOOGLECODE_SVN.DisplayName</option>
                                <option value="@RepositoryType.GOOGLECODE_HG.Value">@RepositoryType.GOOGLECODE_HG.DisplayName</option>
                                <option value="@RepositoryType.GITHUB.Value">@RepositoryType.GITHUB.DisplayName</option>
                                <option value="@RepositoryType.CODEPLEX_SVN.Value">@RepositoryType.CODEPLEX_SVN.DisplayName</option>
                                <option disabled="disabled">Bitbucket (soon)</option>
                                <option disabled="disabled">Sourceforge (soon)</option>
                                <option disabled="disabled">Savannah (soon)</option>
                                <option disabled="disabled">Gitorious (soon)</option>
                                <option disabled="disabled">Lanchpad (soon)</option>
                            </select>
                        </div>
                    </div>

                    <!-- Select Archive -->
                    <div class="control-group">
                        <label class="control-label" for="@Html.IdFor(m=>m.ArchiveType)">Archive</label>
                        <div class="controls">
                            <select id="@Html.IdFor(m=>m.ArchiveType)" class="input-small">
                                <option>@ArchiveType.ZIP.Extension</option>
                                <option>@ArchiveType.TAR_GZ.Extension</option>
                            </select>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="control-group">
                        <label class="control-label" for="btnSubmit"></label>
                        <div class="controls">
                            <button id="btnSubmit" name="btnSubmit" class="btn btn-primary"><img id="wait" src="~/Content/images/wait.gif"/>Download</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </section>
        <br class="clr">
    </div>
</div>

@section scripts {
        <script type="text/javascript"> 
        // wait for the DOM to be loaded 
     /*   $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#submitForm').ajaxForm(function() { 
                alert("Thank you for your comment!"); 
            }); 
        });*/

            $(document).ready(function () {

                //SOCIAL CODE 
                $('.socialMedia > a').click(function () {
                    var selected_option = null;
                    switch ($(this).data('original-title')) {
                        case '@RepositoryType.GOOGLECODE_SVN.Value':
                            selected_option = '@RepositoryType.GOOGLECODE_SVN.Value';
                            break;
                        case '@RepositoryType.GITHUB.Value':
                            selected_option = '@RepositoryType.GITHUB.Value';
                            break;
                        case '@RepositoryType.CODEPLEX_SVN.Value':
                            selected_option = '@RepositoryType.CODEPLEX_SVN.Value';
                            break;
                        default:
                            alert($(this).data('original-title') + ' is not supported');
                            break;
                    }

                    if (selected_option === null) { return; }
                    $("select[id$='@Html.IdFor(m=>m.RepositoryType)'] option[value='"+ selected_option +"']").attr("selected", "selected");
                });

                //REPOSITORY FORMAT
                $('#@Html.IdFor(m=>m.RepositoryType)').change(function () {

                });

                //API
                var $errorBox = $('#error-box');
                $errorBox.hide();

                var $wait = $('#wait');
                $wait.hide();

                var $button = $('#btnSubmit');
                $button.button('enable');
                
                $('#submitForm').submit(function (e) {
                    e.preventDefault();
                    var $this = this;
                    var url = $('#@Html.IdFor(m=>m.Url)').val();
                    var repo = $('#@Html.IdFor(m=>m.RepositoryType)').val(); 
                    var archive = $('#@Html.IdFor(m=>m.ArchiveType)').val();
                    var json_request = { 'Url': url, 'ArchiveType': archive, 'RepositoryType': repo };

                    // VERIFY URL
                    var urlData = { 'Url': url, 'RepositoryType': repo };
                    $.post('/api/ValidateUrl/', urlData, function (result) {
                        console.log(result);
                        if (result.IsValid) {
                            $.ajax({
                                url: $this.action,
                                type: 'POST',
                                data: json_request,
                                beforeSend: function (x, o) {
                                    $wait.show();
                                    $button.button('disable');
                                },
                                fail: function (request, status, error) {
                                    var errorMessage;
                                    if (request.responseText === undefined) {
                                        errorMessage = "Fail:\nrequest:" + request + "\nstatus:" + status + "\nerror:" + error;
                                    } else {
                                        errorMessage = "Fail:\nrequest:" + request.responseText + "\nstatus:" + status + "\nerror:" + error;
                                    }
                                    console.log(errorMessage);
                                    $wait.hide();
                                    $button.button('enable');
                                },
                                complete: function (xhr, status) {
                                    $wait.hide();
                                    $button.button('enable');
                                    switch (status) {
                                        case "success":
                                            alert(xhr);//prompt for email?
                                            break;
                                        case "error":
                                        case "timeout":
                                        case "abort":
                                        case "parseerror":
                                        case "notmodified":
                                            alert('error');
                                            break;
                                    }
                                }
                            });
                        }
                        else {
                            $('#@Html.IdFor(m=>m.Url)').popover('show');//{ 'placement': 'top', 'content': result.Message });
                            //$errorBox.show();
                            //$('#error-box > span').text(result.Message);
                        }
                    });
                    return false;
                });
            });
            </script>
    }